/* Adicionado para o layout do Boletim */
.boletim-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: flex-start;
}

.boletim-form-container, .boletim-history-container {
    background-color: #f8f9fa;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #e9ecef;
}

.boletim-form-container h4, .boletim-history-container h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #343a40;
}

#boletim-form select,
#boletim-form input,
#boletim-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
}

#boletim-form select:disabled {
    background-color: #e9ecef;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}
